$box-radius: $radius-normal !default
$box-padding: $padding-big !default

.box
  position: relative
  padding: $box-padding
  border: 2px solid $lightgrey
  border-radius: $box-radius

  &[data-annotation]
    border-top-left-radius: 0
    &:before
      font-size: 0.8rem
      content: attr(data-annotation)
      position: absolute
      top: 0
      left: -2px
      padding: $padding-normal
      background-color: $lightgrey
      transform: translateY(-100%)
      border: 1px solid $grey
      border-bottom-width: 2px !important
      border-radius: .2rem .2rem 0 0

// Colors
@each $color, $map in $colors
  @if map-get($map, alt)
    .box.annotation--#{map-get($map, alt)}[data-annotation]:before
      background-color: map-get($map, light)
      color: text-contrast(map-get($map, light))
      border: 1px solid map-get($map, regular)